*{
    margin: 0;
    font-family: Arial;
    border:border-box;
    
}

.navebar{
    height: 60px;
    background-color: rgb(244, 101, 6);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
   
}
 .navlogo{
    height: 50px;
    width: 100px;

 }
.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    width: 100%;
    height: 50px;

   
}

.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
}

/* box2*/

.add-d{
    font-size: 0.8rem;
    margin-left: 15px;
}
.add-i{
    font-size: 1rem;
}
.nav-icon{
    display: flex;
    align-items: center;
}

/* box3*/
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 800px;
    height: 40px;
    border-radius: 4px;
}

.search-select{
    color: #0f1111b5;
    background-color: #e6e6e6;
    width: 55px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #0f1111b5;
    background-color: #e6e6e6;
     border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

}

.nav-search:hover{
    border: 2px solid black;
}

/* box4*/

span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}

/* box5*/

.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}

/* panrel */

.panel{
   height: 40px;
   background-color:rgba(250, 103, 5, 0.753) ;
   color: #0f1111;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}
.panel-options p{
    display: inline;
     margin-left: 15px;
}

.panel-options{
    width: 70%;
    font-size: 0.85rem;
   
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}

/* Big image*/

.big-image{
    background-image: url("big.jpg");
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.big-text{
    background-color: white;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
}
.big-a{
    color: #2162a1;
     
}
/* shop section  */

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color:rgb(217, 222, 217) ;
}
.box{
    height: 400px;
    width: 23%;
   /* border: 2px solid black;*/
    background-color: white;
    padding: 20px 0 15px;
    margin-top: 15px;
}
.box-image{
    background-size: cover;
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content p{
    color: #2162a1;

}

/* footer */

footer{
    margin-top: 15px;
}

.footer-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.footer-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: center;
}
ul{
    margin-top: 20px;
}

ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

.footer-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 1px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    width: 100px;
    height: 50px;
}

.footer-panel4{
    background-color: #0c0e11 ;
    color:white ;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
}
.pages{
    padding-top: 25px;
}
.copyright{
     padding-top:5px;

}
.pages a{
    margin-right: 10px;
}